*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --Neutral-Almost-White: hsl(0, 0%, 98%);
    --Neutral-Medium-Gray: hsl(0, 0%, 41%);
    --Neutral-Almost-Black: hsl(0, 0%, 8%);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--Neutral-Almost-White);
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
}

/* all flex containers here */
header,
.ads,
.features-icon-container,
.company-items,
.features-items-container,
.features,
.features-careers-con,
.features-careers-con,
.login-con {
    display: flex;
}

header {
    align-items: center;
    justify-content: space-between;
    padding: 1.5em 1em;
}

main {
    height: 70vh;
}

.hero-image {
    width: 100%;
}

.hero-image2 {
    display: none;
}

.menu-bar {
    border: none;
    background-color: transparent;
}

.features-overlay,
.features {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.features-overlay {
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    z-index: 1;
    display: block;
    background-color: #202020ba;
    position: fixed;
}

.features {
   flex-direction: column;
   background-color: var(--Neutral-Almost-White);
   margin:  0 0 0 auto;
   width: 65%;
   height: 100%;
   font-size: 1rem;
   z-index: 1;
}


.features-icon-container,
.features-careers-con {
    align-items: center;
    gap: .8em;
    text-transform: capitalize;
    color: var(--Neutral-Medium-Gray);
    padding: .8em 1.2em;

}

.features-careers-con {
    flex-direction: column;
    gap: 1.2em;
    align-items: flex-start;
    font-weight: 500;
    margin-top: 0;
}

.features-items-container,
.company-items {
    align-items: center;
    gap: 1em;
    margin: 1.3em 2.6em;
}

.features-items {
    transition: 0.3s;
    width: 100%;
    display: none;
    align-items: center;
}

.company-items {
    transition: 0.3s;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.4em;
}

.login-con {
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

div.login-con > span{
    color: var(--Neutral-Medium-Gray);
    font-size: .875rem;
    padding-bottom: 1.1em;
}

div.login-con > button {
    width: 100%;
    border: 1.5px solid var(--Neutral-Medium-Gray);
    padding: .5em;
    color: var(--Neutral-Medium-Gray);
    font-size: 1.12rem;
    border-radius: 15px;

}

div.login-con > button:hover {
    color: var(--Neutral-Almost-Black);
}

div.company-items > span {
  text-transform: capitalize;
}

div.features-items-container > span,
.company-items {
    text-transform: capitalize;
    color: var(--Neutral-Medium-Gray);

}

div.features-items-container  > img {
    width: 18px;
}

div.features > .close-menu {
    padding: 1.5em;
    align-items: center;
    margin: 0 0 0 auto;
}

.learn-more {
    background-color: var(--Neutral-Almost-Black);
    color: var(--Neutral-Almost-White);
    padding: .799em 1.5em;
    font-size: 1.125rem;
    font-weight: 700;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
    border: none;
   
}

.ads {
    align-items: center;
    gap: 1.5em;
    padding: 2.5em 1em;
    margin: 0 auto;
    width: max-content;
   
}

div.ads > img {
    width: 60px;
}

/* typography */
h1 {
    font-weight: 700;
    text-align: center;
    color: var(--Neutral-Almost-Black);
    font-size: 2.2rem;
}

.body-txt {
    margin: 0 auto;
    margin-top: .5em;
    padding: 1em;

}

p {
    text-align: center;
    font-weight: 500;
    color: var(--Neutral-Medium-Gray);
    line-height: 1.5;
    font-size: 1rem;
    margin-top: -.5em;
}

.hidden {
    display: none;
}

@media (min-width: 786px) {
    .menu-bar, .close-menu, .hero-image {
        display: none;
    }

    .hero-image2 {
        display: block;
        width: 100%;
        height: 100%;
    }

    header {
        gap: 2em;
        padding: auto;
        position: relative;
        align-items: center;
        padding: 1.5em 2em;
    }

    h1 {
        font-size: 3.5rem;
        padding-top: 1.1em;
        text-align: start;
        
    }

    p {
        display: inline-block;
        text-align: left;
        margin: 0;
        padding-bottom: 1.1em;
    }

    .make {
        display: block;
    }


    main {
        gap: 10%;
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
        padding: 0 2em;
        margin: 1.5em auto;
    }


    .desktop-article {
       position: relative;
    }

    .desktop-article, 
    .deskstop-here-con{
        height: 500px;
        width: 36%;
    }

    .features-careers-con, 
    .login-con {
        flex-direction: row;
        gap: 1em;
    }

    .features-careers-con {
        gap: 2em;
        width: 100%;
    }

    .login-con {
       align-items: center;
       margin: 0 0 0 auto;
    }

    div.login-con > span {
        padding: 0;
        display: block;
    }

    div.login-con > button {
        padding: .5em 1em;
        font-size: .875rem;
        background-color: var(--Neutral-Almost-White);
    }

    .features-overlay {
        visibility: hidden;
        z-index: 1;
        height: 100%;
        width: 100%;
        background: transparent;

    }

    div.features-items-container  > img {
        width: 15px;
    }

    div.features-items-container  > span {
        font-size: .855rem;
    }

    .features-items-container {
        margin: 0;
        padding: .5em;
        position: relative;
    }

    .features-items, 
    .company-items {
        position: absolute;
        background: var(--Neutral-Almost-White);
        top: 57px;
        width: max-content;
        padding: .5em .6em;
        left: 109px;
        font-size: .865rem;
        box-shadow: 0px 12px 52px 0px rgba(0,0,0,0.27);
        -webkit-box-shadow: 0px 12px 52px 0px rgba(0,0,0,0.27);
        -moz-box-shadow: 0px 12px 52px 0px rgba(0,0,0,0.27);
        border-radius: 8px;
    }

    .company-items {
        left: 252px;
        top: 39px;
    }



    .features {
        visibility: visible;
        width: 89.5%;
        height: 60px;
        flex-direction: row;
        align-items: center;
        background: var(--Neutral-Almost-White);
        padding-top: 1em;
    }

    .ads {
        padding: 0;
        width: 100%;
        gap: 3em;
        margin: auto;
        position: absolute;
        bottom: 0;
        padding: .5em 1em 0;
    }

    .learn-more-con {
        z-index: 2;
        padding: 0 1em;
        margin: -1em 0;
    }

    .learn-more {
        margin: auto 0 0 0;
        
    }

    .learn-more:hover {
        cursor: pointer;
        background-color: var(--Neutral-Almost-White);
        color: var(--Neutral-Almost-Black);
        border: 1px solid var(--Neutral-Almost-Black);
        
    }



    div.features-icon-container > span:hover, 
    .features-careers-con span:hover,  
    div.login-con > button:hover,   
    div.login-con > span:hover, 
    div.login-con > span:hover,
    div.features-items-container > span:hover, 
    div.company-items > span:hover {
        color: var(--Neutral-Almost-Black);
        cursor: pointer;
        border-color: var(--Neutral-Almost-Black);
    } 
}


